{% extends 'base.html.twig' %}

{% block title %}{{ question.title }}{% endblock %}

{% block body %}

{% include 'question/_detail.html.twig' with {'detail': true} %}

{% if is_granted('ROLE_MODERATOR') %}
    {% set btnLabel = question.isBlocked ? 'Débloquer cette question' : 'Bloquer cette question' %}
    <hr>
    <p><a href="{{ path('admin_question_toggle', {'id': question.id}) }}" class="btn btn-warning">{{ btnLabel }}</a></p>
{% endif %}

<p class="mt-3"><a class="btn btn-success" href="{{ path('question_edit', {id: question.id}) }}">Modifier</a></p>

<hr>

<h3>{{ question.answers|length }} Réponse(s)</h3>

{% for answer in answersNonBlocked %}
    {% set answerClass = answer.isblocked ? 'blocked' : '' %}

<hr class="my-1">
<div class="ml-4 answer{{ answer.isValidated ? ' validated' : '' }} {{ answerClass }}">
    <div>
        {{ answer.body }}
    </div>
    <div>
        <a href="{{ path('answer_validate', {'id': answer.id}) }}" class="btn btn-sm btn-success">Accepter cette réponse</a>

        {% if is_granted('ROLE_MODERATOR') %}
            {% set btnLabel = answer.isBlocked ? 'Débloquer cette réponse' : 'Bloquer cette réponse' %}
            <a href="{{ path('admin_answer_toggle', {'id': answer.id}) }}" class="btn btn-sm btn-warning mr-2">{{ btnLabel }}</a>
        {% endif %}
    </div>

    <div class="small-grey-text">
        par <b class="username">{{ answer.user.username }}</b> le {{ answer.createdAt|date("d/m/Y à h:i") }}
    </div>
</div>
{% else %}
<p class="text-secondary">Pas de réponse pour le moment, une idée, ou bien connaissez-vous quelqu'un qui pourrait répondre ?</p>
{% endfor %}

<hr>
<h4>Proposer une réponse</h4>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Soumettre</button>
{{ form_end(form) }}

{% endblock %}
